<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795195349660-kjj24130e3d7cbjk0vfpqjigrdlio0p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795195349660-kjj24130e3d7cbjk0vfpqjigrdlio0p4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>795195349660-htld1cuqruf7id6qtemps9ma23imtpf1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCY4_Amb5vl57SgBfXVGjgmcpZQ9wWywDU</string>
	<key>GCM_SENDER_ID</key>
	<string>795195349660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.dariocast.quadernotorneo</string>
	<key>PROJECT_ID</key>
	<string>quadernotorneo</string>
	<key>STORAGE_BUCKET</key>
	<string>quadernotorneo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795195349660:ios:f3362f6a3156ae0923eb59</string>
</dict>
</plist>